﻿<h2>Регистрировать пользователя</h2>
<div class="col-md-6 col-md-offset-1">
    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted}">
            <label for="fullname">Пользователь</label>
            <input type="text" class="form-control" name="fullname" [(ngModel)]="model.fullname" #fullname="ngModel" required />
            <div *ngIf="f.submitted && !fullname.valid" class="help-block">Требуется имя пользователя</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">Пароль</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="help-block">Требуется пароль</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <label for="email">Почта</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required />
            <div *ngIf="f.submitted && !email.valid" class="help-block">Требуется адрес электронной почты</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !phonenumber.valid }">
            <label for="phonenumber">Телефон</label>
            <input type="text" class="form-control" name="phonenumber" [(ngModel)]="model.phonenumber" #phonenumber="ngModel" required />
            <div *ngIf="f.submitted && !phonenumber.valid" class="help-block">Требуется номер телефона</div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Регистрировать</button>
            <!--[disabled]="loading"-->
        </div>
    </form>
</div>
