﻿<h2>Список пользователей</h2>
<p *ngIf="!users"><em>Загрузка...</em></p>
<form novalidate *ngIf="users" [formGroup]="form">
    <div class="bar">
        <input type="text" [(ngModel)]="searchText" formControlName="searchstring" placeholder="Введите имя пользователся" />
        <button (click)="clearsearchstring()">X</button>
    </div>
    <table class='table' *ngIf="users">
        <thead>
            <tr>
                <th>Имя</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users | searchfilter:searchText">
                <td>{{ user.fullname }}</td>
                <td>
                    <button (click)="onGetInfo(user.id)" class="btn btn-primary">
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</form>
